name: Backend CI

on:                
  push:            
    branches:      
      - main
    paths:
      - 'backend/**'

jobs:              
  deploy:          
    runs-on: ubuntu-latest  
    
    steps:         
      - uses: actions/checkout@v3 
      
      - name: Setup Node/Python
        uses: actions/setup-node@v3
        with:
          node-version: '18'